Django==5.0.4
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
pke @ git+https://github.com/boudinfl/pke.git@69871ffdb720b83df23684fea53ec8776fd87e63
scikit-learn==1.4.2
sense2vec==2.0.2
sentence-transformers==2.7.0
textdistance==4.6.2
torch==2.3.0
transformers==4.40.1
